*{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: 'Times New Roman', Times, serif !important;

}
.text-center{
    text-align: center !important;
}
.div1{
    margin: 0 auto !important;
    width: 70%;
    padding-bottom: 30px;
    border-radius: 30px;
}
h1{
    margin-top: 10px !important;
    margin-bottom: 2% !important;
    color: rgb(255, 230, 0);
}
button{
    margin-top: 10px !important;
    background-color: rgb(255, 230, 0);
    border: none;
    font-family: 'Times New Roman', Times, serif !important;
    outline: none;
    color: black;
    border-radius: 5px !important;
    padding: 10px !important;
    width: 50%;
}
input{
    display: block;
    color: #848688 !important;
    margin: 20px auto !important;
    margin-bottom: 2% !important;
    /* height:  !important; */
    background-color: black;
    border: none;
    outline: none;
    padding: 1.5%;
    border-radius: 10px;
    width: 70%;
}